course-info.yaml
course-remote-info.yaml
Problems/
Music Advisor/Final chords/
Music Advisor/Processing links/
Music Advisor/Rocking OAuth/
Music Advisor/String and fiddlesticks/
Music Advisor/task/lesson-info.yaml
Music Advisor/Useful connections/
Music Advisor/test/
